.collapsibleWrapper {
  padding: 2% 0 2% 2%;
  width: 90%;
  margin: 1% 0 0 3%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  color: #909dab;
}
.collapsibleWrapper:hover {
  background-color: #ffdd39;
}

.iconContainer {
  margin: 0 2% 0 0;
  font-size: 1.4rem;
}
.navTitle {
  padding: 1% 4% 1% 4%;
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  justify-content: space-between;
}
