.hamburgerDropdownContainer {
  position: absolute;
  top: 8%;
  width: 100%;
}

.searchContainer {
  height: 3rem;
  width: 98%;
}
.serachInNav {
  background-color: rgb(231, 228, 228);
  border-radius: 0.7rem;
  margin: 2% 0 2% 2.5%;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
  padding: 0% 0 0% 3%;
  transition: all 0.2s ease-in;
}
.serachInNav.focus {
  box-shadow: rgba(236, 55, 55, 0.308) 0px 2px 8px 0px;
}

.searchInput {
  border: none;
  outline: none;
  font-size: 1.1rem;
  width: 90%;
  padding: 3% 0 3% 3%;
  background-color: rgb(231, 228, 228);
  color: #686868;
}

.fa-search {
  color: #686868;
}
